%form{action: "/task/create", method: "post"}
    %input{type: "text", name: "name", id: "name", placeholder: " Name", required: "true", maxlength: "40"}
    %input{type: "text", name: "location", id: "location", placeholder: " Location"}
    %label{for: "due"}Due
    %input{type: "datetime-local", name: "due", required: "true"} 

    %label{for: "circle"}Circle
    %select{name: 'circle', required: "true"}
        - logged_in_user.circles.each do | circle | 
            - if circle.creator_id == logged_in_user.id
                %option{value: "#{circle.name}"} 
                    = circle.name
    %input{type: 'submit', value: 'Add task'}