%form{action: "/circles/new", method: "post", id: "circle-create-form"}
    %input{type: "text", name: "name", id: "name", placeholder: " Name of circle"}
    %input{type: "submit", value: "Create circle"} 