.content
    %h1 Sign Up ("Create a new account")
    %form{:action => "/user/create", :method => "post"}
        %label{:for =>"name"} Name:
        %input{:type => "text", :name => "name", :id => "name"}
        %label{:for =>"email"} Email:
        %input{:type => "text", :name => "email", :id => "email"}
        %label{:for =>"username"} username:
        %input{:type => "text", :name => "username", :id => "username"}
        %label{:for =>"password"} password:
        %input{:type => "password", :name => "password", :id => "password"}
        %select{name: "timezone", id: "timezone"}
            - Timezone::Zone.names.each do | timezone | 
                %option{name: "timezone", value: "#{timezone}"} #{timezone}
        %input{:type => "submit"}
    %h1 Login ("I have an account")
    %form{:action => "/user/login", :method => "post"}
        %label{:for =>"email"} Email:
        %label{:for =>"email"} Email:
        %input{:type => "text", :name => "email", :id => "email"}
        %label{:for =>"email"} password:
        %input{:type => "password", :name => "password", :id => "password"}
        %input{:type => "submit"}

/ #login.login-form-container
/     %header LOGIN - SIGN UP
/     %fieldset
/         .input-wrapper
/             %input{placeholder: "your@email.com", type: "text"}/
/         .input-wrapper
/             %input{placeholder: "password", type: "password"}/
/         %button#continue{type: "button"} CONTINUE