%form{:action => "/task/create", :method => "post"}
    %label{:for =>"name"} Name:
    %input{:type => "text", :name => "name", :id => "name"}
    %label{:for =>"location"} : Location
    %input{:type => "text", :name => "location", :id => "location"}
    %input{:type => "submit"}