/ .jumbotron
/     %h1.text-center Lorem ipsum dolor sit amer, lufireus ae dloelrs fi  fodprun
/     %h2.text-center Lorem ipsum dolor sit amet
/ %div(class ="users-wrapper")
/     - @users.each do |user|
/         %h4
/             %a{:href => "/user/#{user.id}"} #{user.username}
.intro-header
  .container
    .row
      .col-lg-12
  / /.container