@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Changa+One);
@font-face {
  font-family: 'gyst';
  src: url("/fonts/gyst.eot?-a7x3am");
  src: url("/fonts/gyst.eot?#iefix-a7x3am") format("embedded-opentype"), url("/fonts/gyst.woff?-a7x3am") format("woff"), url("/fonts/gyst.ttf?-a7x3am") format("truetype"), url("/fonts/gyst.svg?-a7x3am#gyst") format("svg");
  font-weight: normal;
  font-style: normal; }
.icon {
  font-family: 'gyst';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-bullhorn:before {
  content: "\e600"; }

.icon-location:before {
  content: "\e601"; }

.icon-compass:before {
  content: "\e602"; }

.icon-alarm:before {
  content: "\e603"; }

.icon-alarm2:before {
  content: "\e604"; }

.icon-calendar:before {
  content: "\e605"; }

.icon-spinner:before {
  content: "\e606"; }

.icon-eye:before {
  content: "\e607"; }

.icon-eye-blocked:before {
  content: "\e608"; }

.icon-info:before {
  content: "\e609"; }

.icon-exit:before {
  content: "\e60a"; }

.icon-instagram:before {
  content: "\e60b"; }

.icon-foursquare:before {
  content: "\e60c"; }

.navbar.navbar-default .navbar-brand {
  font-family: Changa One;
  font-size: 4rem;
  font-weight: lighter;
  color: #b11111;
  position: relative;
  top: -3px; }
.navbar.navbar-default .nav-login-block {
  margin-top: 5px;
  position: relative; }
  .navbar.navbar-default .nav-login-block .btn-add-user {
    position: absolute;
    left: -115px;
    top: -30px;
    font-size: 7rem;
    width: 30px;
    height: 30px;
    color: #b11111; }
    .navbar.navbar-default .nav-login-block .btn-add-user:hover {
      color: #b11111;
      text-decoration: none; }
  .navbar.navbar-default .nav-login-block .btn-login {
    padding: 7px 10px;
    margin-left: 10px;
    border-radius: 5px;
    background: #ffd03c;
    color: #fff; }
    .navbar.navbar-default .nav-login-block .btn-login:hover {
      text-decoration: none; }
  .navbar.navbar-default .nav-login-block .icon-exit {
    font-size: 2.5rem;
    margin-top: 8px;
    margin-left: 5px;
    color: #444; }
    .navbar.navbar-default .nav-login-block .icon-exit:hover {
      text-decoration: none; }
  .navbar.navbar-default .nav-login-block .alerts {
    font-family: Changa One;
    position: absolute;
    left: -40px;
    font-size: 1.6rem;
    background: #b11111;
    border-radius: 50%;
    width: 24px;
    height: 22px;
    top: 5px;
    text-align: center;
    color: white; }
  .navbar.navbar-default .nav-login-block .user-pic {
    border: 5px solid #F8F8F8;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 70px;
    height: 70px;
    position: absolute;
    left: -80px;
    top: 10px; }

#user-profile .username {
  font-size: 2rem;
  color: #ccc; }
#user-profile div.email {
  font-size: 2rem;
  color: #ccc; }
#user-profile .name {
  font-size: 3rem;
  font-family: "Helvetica", "Arial", "sans-serif";
  color: #444;
  padding: 5px 0; }
#user-profile .location {
  padding: 5px 0;
  color: #444; }

.user-act .act-header {
  background: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
  border-top: 5px solid #b11111;
  padding: 3px 0; }

#timeline {
  position: relative;
  padding: 2rem 0;
  width: 35%;
  height: auto;
  margin: 0 auto;
  overflow: hidden; }
  #timeline .task-timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    height: 100%;
    width: 4px;
    background: #d7e4ed; }
  #timeline .task-timeline.left {
    text-align: left;
    margin-right: 50%;
    height: 60px; }
    #timeline .task-timeline.left:after {
      content: "aa";
      position: relative;
      left: 97%;
      z-index: 9;
      border-radius: 100%;
      color: #d7e4ed;
      background: #d7e4ed;
      top: -20px; }
  #timeline .task-timeline.right {
    text-align: right;
    margin-left: 50%;
    height: 60px; }
    #timeline .task-timeline.right:before {
      content: "aa";
      position: absolute;
      left: 48%;
      z-index: 9;
      border-radius: 100%;
      color: #d7e4ed;
      background: #d7e4ed;
      width: 20px;
      height: 20px;
      margin-top: 10px; }
  #timeline .task-timeline.remind {
    color: darkred;
    cursor: pointer; }
  #timeline .date-timeline {
    display: block;
    font-size: 1.2rem;
    color: #bbb;
    height: 0; }

.user-tasks-due {
  max-height: 150px;
  overflow-y: auto; }

.alert-success {
  background-color: #BBF1A5;
  border-color: #d6e9c6;
  color: #3c763d; }

html body {
  font-family: "Raleway", "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333; }

*, *:before, *:after {
  box-sizing: border-box; }

.denied {
  animation: gyst 0.35s normal forwards ease-in-out; }

@-webkit-keyframes gyst {
  0% {
    letter-spacing: 0; }

  12% {
    letter-spacing: -1px; }

  25% {
    letter-spacing: -2px; }

  50% {
    letter-spacing: -4px; }

  60% {
    letter-spacing: -6px; }

  75% {
    letter-spacing: -4px; }

  87% {
    letter-spacing: -2; }

  100% {
    letter-spacing: 0; } }
@keyframes gyst {
  0% {
    letter-spacing: 0; }

  12% {
    letter-spacing: -1px; }

  25% {
    letter-spacing: -2px; }

  50% {
    letter-spacing: -4px; }

  60% {
    letter-spacing: -6px; }

  75% {
    letter-spacing: -4px; }

  87% {
    letter-spacing: -2; }

  100% {
    letter-spacing: 0; } }
a {
  display: inline-block;
  transition: all ease 0.3s; }

.profile-box {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  position: relative; }
  .profile-box .profile-picture {
    position: absolute;
    top: 203px;
    left: 50%;
    margin-left: -55px; }
    .profile-box .profile-picture img {
      border: 5px solid #fff;
      border-radius: 100%;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
      width: 100px;
      height: 100px; }
