@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Changa+One);
@font-face {
  font-family: 'gyst';
  src: url("/fonts/gyst.eot?-a7x3am");
  src: url("/fonts/gyst.eot?#iefix-a7x3am") format("embedded-opentype"), url("/fonts/gyst.woff?-a7x3am") format("woff"), url("/fonts/gyst.ttf?-a7x3am") format("truetype"), url("/fonts/gyst.svg?-a7x3am#gyst") format("svg");
  font-weight: normal;
  font-style: normal; }
.icon {
  font-family: 'gyst';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-bullhorn:before {
  content: "\e600"; }

.icon-location:before {
  content: "\e601"; }

.icon-compass:before {
  content: "\e602"; }

.icon-alarm:before {
  content: "\e603"; }

.icon-alarm2:before {
  content: "\e604"; }

.icon-calendar:before {
  content: "\e605"; }

.icon-spinner:before {
  content: "\e606"; }

.icon-eye:before {
  content: "\e607"; }

.icon-eye-blocked:before {
  content: "\e608"; }

.icon-info:before {
  content: "\e609"; }

.icon-exit:before {
  content: "\e60a"; }

.icon-instagram:before {
  content: "\e60b"; }

.icon-foursquare:before {
  content: "\e60c"; }

*, *:before, *:after {
  box-sizing: border-box; }

html {
  overflow-y: scroll; }

html body {
  font-family: "Raleway", "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333; }

input[type="text"],
input[type="password"],
input[type="datetime-local"] {
  height: 35px;
  box-shadow: inset 0px 0px 13px -4px #ccc;
  border: 1px solid #ccc;
  padding-left: 10px; }

input[type="datetime-local"] {
  width: 175px;
  font-size: 1.1rem;
  margin-bottom: 0; }

select {
  height: 35px;
  box-shadow: inset 0px 0px 13px -4px #ccc;
  border: 1px solid #ccc;
  padding-left: 10px; }

.alert-success {
  background-color: #BBF1A5;
  border-color: #d6e9c6;
  color: #3c763d; }

.navbar.navbar-default .navbar-brand {
  font-family: Changa One;
  font-size: 4rem;
  font-weight: lighter;
  color: #b11111;
  position: relative;
  top: -3px; }
  .navbar.navbar-default .navbar-brand:hover {
    animation: gyst .8s normal forwards ease-in;
    -webkit-animation: gyst .8s normal forwards ease-in; }
.navbar.navbar-default .nav-login-block {
  margin-top: 5px;
  position: relative; }
  .navbar.navbar-default .nav-login-block .btn-add-user {
    position: absolute;
    left: -145px;
    font-size: 7rem;
    width: 50px;
    height: 50px;
    background: url("/imgs/rsz_evernote.png");
    background-size: 80%;
    background-repeat: no-repeat; }
    .navbar.navbar-default .nav-login-block .btn-add-user:hover {
      color: #b11111;
      text-decoration: none; }
  .navbar.navbar-default .nav-login-block .btn-login {
    padding: 7px 10px;
    margin-left: 10px;
    border-radius: 5px;
    background: #ffd03c;
    color: #fff; }
    .navbar.navbar-default .nav-login-block .btn-login:hover {
      text-decoration: none; }
  .navbar.navbar-default .nav-login-block .icon-exit {
    font-size: 2.5rem;
    margin-top: 8px;
    margin-left: 5px;
    color: #444;
    vertical-align: -7px; }
    .navbar.navbar-default .nav-login-block .icon-exit:hover {
      text-decoration: none; }
  .navbar.navbar-default .nav-login-block .alerts {
    font-family: Changa One;
    position: absolute;
    left: -40px;
    font-size: 1.6rem;
    background: #b11111;
    border-radius: 50%;
    width: 24px;
    height: 22px;
    top: 5px;
    text-align: center;
    color: white;
    z-index: 3; }
  .navbar.navbar-default .nav-login-block .user-pic {
    border: 5px solid #F8F8F8;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 70px;
    height: 70px;
    position: absolute;
    left: -80px;
    top: 10px;
    z-index: 2; }

.user-act .act-header {
  background: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
  border-top: 5px solid #b11111;
  padding: 3px 0; }

.profile-details {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  padding: 20px;
  border-radius: 5px; }

#user-profile .nav-tabs {
  border: 0; }
  #user-profile .nav-tabs li a {
    padding: 7px 10px;
    margin-left: 10px;
    border-radius: 5px;
    color: #fff;
    opacity: 0.7; }
  #user-profile .nav-tabs li.active a {
    padding: 7px 10px;
    margin-left: 10px;
    border-radius: 5px;
    color: #fff;
    opacity: 1;
    box-shadow: 0 0 10px rgba(2, 1, 1, 0.41); }
  #user-profile .nav-tabs .usr-edit-profile {
    float: right; }
    #user-profile .nav-tabs .usr-edit-profile a {
      background-color: #f8f8f8;
      border-color: #e7e7e7;
      color: black; }
    #user-profile .nav-tabs .usr-edit-profile.active a {
      background-color: #f8f8f8;
      border-color: #e7e7e7;
      color: #000000; }
#user-profile .usr-profile a {
  background: #6193FF;
  border-color: #6193FF; }
#user-profile .usr-circles a {
  border-color: #59CA24;
  background: #59CA24; }
#user-profile .usr-circles.active a {
  background: #59CA24; }
#user-profile .usr-tasks a {
  background: #ffd03c;
  border-color: #ffd03c; }
#user-profile .usr-tasks.active a {
  background: #ffd03c;
  border-color: #ffd03c; }
#user-profile #profile #profile-info .username {
  font-size: 2rem;
  color: #ccc; }
#user-profile #profile #profile-info div.email {
  font-size: 2rem;
  color: #ccc; }
#user-profile #profile #profile-info .name {
  font-size: 3rem;
  font-family: "Helvetica", "Arial", "sans-serif";
  color: #444;
  padding: 5px 0; }
#user-profile #profile #profile-info .location {
  padding: 5px 0;
  color: #444; }
#user-profile #profile #profile-info .pull-right {
  margin-top: 20px; }
#user-profile .user-circles {
  height: 300px;
  overflow: auto; }
  #user-profile .user-circles ul {
    display: block;
    font-size: 1.5rem;
    padding: 0; }
    #user-profile .user-circles ul li {
      display: block; }
#user-profile .user-tasks {
  height: 300px;
  overflow: auto; }
#user-profile .user-tasks-add {
  margin-top: 20px; }
  #user-profile .user-tasks-add input {
    margin-bottom: 10px; }
  #user-profile .user-tasks-add input[type="submit"] {
    margin-top: 10px;
    padding: 7px 10px;
    margin-left: 10px;
    border-radius: 5px;
    color: #fff;
    opacity: 1;
    border: 0;
    background: #ffd03c;
    border-color: #ffd03c; }
  #user-profile .user-tasks-add select {
    height: 35px;
    box-shadow: inset 0px 0px 13px -4px #ccc;
    border: 1px solid #ccc;
    padding-left: 10px; }

#timeline {
  position: relative;
  padding: 2rem 0;
  width: 35%;
  height: auto;
  margin: 0 auto;
  overflow: hidden; }
  #timeline .task-timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    height: 100%;
    width: 4px;
    background: #d7e4ed; }
  #timeline .task-timeline.left {
    text-align: right;
    margin-right: 53%;
    height: 60px; }
    #timeline .task-timeline.left:after {
      content: "aa";
      position: relative;
      left: 12%;
      z-index: 9;
      border-radius: 100%;
      color: #d7e4ed;
      background: #d7e4ed;
      top: -30px; }
  #timeline .task-timeline.right {
    text-align: left;
    margin-left: 55%;
    height: 60px; }
    #timeline .task-timeline.right:before {
      content: "aa";
      position: absolute;
      left: 48%;
      z-index: 9;
      border-radius: 100%;
      color: #d7e4ed;
      background: #d7e4ed;
      width: 20px;
      height: 20px;
      margin-top: 10px; }
  #timeline .task-timeline.remind {
    color: darkred;
    cursor: pointer; }
  #timeline .date-timeline {
    display: block;
    font-size: 1.2rem;
    color: #bbb;
    height: 0; }

.user-tasks-due {
  max-height: 150px;
  overflow-y: auto; }

.user-circles,
.user-tasks,
.edit-profile {
  margin-top: 20px; }

#profile-edit .edit-profile input {
  width: 50%;
  margin-bottom: 10px; }
#profile-edit .edit-profile input[type="submit"] {
  background-color: #f8f8f8;
  padding: 7px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-left: 0;
  width: 100%; }

.accept {
  color: #59CA24; }
  .accept:hover {
    color: #59CA24; }

.decline {
  color: #b11111; }
  .decline:hover {
    color: #b11111; }

#profile-tasks .tasks ul {
  padding-left: 0; }
  #profile-tasks .tasks ul li {
    display: inline-block; }

.user-create-circle {
  margin-top: 20px; }
  .user-create-circle form {
    margin-bottom: 20px; }
    .user-create-circle form input[type="submit"] {
      margin-top: 10px;
      background: #59CA24;
      padding: 7px 10px;
      margin-left: 10px;
      border-radius: 5px;
      color: #fff;
      opacity: 1;
      border: none; }
    .user-create-circle form select {
      height: 35px;
      box-shadow: inset 0px 0px 13px -4px #ccc;
      border: 1px solid #ccc;
      padding-left: 10px; }

.denied {
  animation: gyst 0.35s normal forwards ease-in-out; }

@-webkit-keyframes gyst {
  0% {
    letter-spacing: 0; }

  12% {
    letter-spacing: -1px; }

  25% {
    letter-spacing: -2px; }

  50% {
    letter-spacing: -4px; }

  60% {
    letter-spacing: -6px; }

  75% {
    letter-spacing: -4px; }

  87% {
    letter-spacing: -2; }

  100% {
    letter-spacing: 0; } }
@keyframes gyst {
  0% {
    letter-spacing: 0; }

  12% {
    letter-spacing: -1px; }

  25% {
    letter-spacing: -2px; }

  50% {
    letter-spacing: -4px; }

  60% {
    letter-spacing: -6px; }

  75% {
    letter-spacing: -4px; }

  87% {
    letter-spacing: -2; }

  100% {
    letter-spacing: 0; } }
a {
  display: inline-block;
  transition: all ease 0.3s; }

.profile-box {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  position: relative; }
  .profile-box .profile-picture {
    position: absolute;
    top: 203px;
    left: 50%;
    margin-left: -55px; }
    .profile-box .profile-picture img {
      border: 5px solid #fff;
      border-radius: 100%;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
      width: 100px;
      height: 100px; }
