@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css);
body {
  background-color: #ACAFB8;
  color: #fff;
  font-family: arial, helvetica, sans-serif;
  line-height: 1.4;
  font-size: 0.6em; }

*, *:before, *:after {
  box-sizing: border-box; }

.login-form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 270px;
  border-radius: 3px;
  background-color: #272E38;
  overflow: hidden; }
  .denied .login-form-container {
    animation: shake 0.35s normal forwards ease-in-out; }
  .login-form-container fieldset {
    border: none; }
  .login-form-container header {
    background-color: #202731;
    color: #C5C6C8;
    display: block;
    padding: 1.5em;
    text-align: center; }
  .login-form-container .input-wrapper {
    position: relative;
    display: block;
    margin: 2em auto;
    border-bottom: 1px solid #FC7148;
    border-radius: 3px;
    width: 170px;
    padding-left: 20px; }
    .login-form-container .input-wrapper input {
      width: 100%;
      line-height: 2;
      background-color: transparent;
      border: none;
      padding: .6em .5em;
      outline: 0; }
      .login-form-container .input-wrapper input::-webkit-input-placeholder, .login-form-container .input-wrapper input::-moz-placeholder, .login-form-container .input-wrapper input:-ms-input-placeholder {
        color: #9EA2AB; }
    .login-form-container .input-wrapper:before {
      font-family: FontAwesome;
      position: absolute;
      display: inline-block;
      top: 9px;
      left: 8px;
      font-size: 10px;
      color: #FC7148; }
    .login-form-container .input-wrapper:nth-child(1):before {
      content: "\f007"; }
    .login-form-container .input-wrapper:nth-child(2):before {
      content: "\f023"; }
  .login-form-container button {
    outline: 0;
    font-size: 8px;
    letter-spacing: 0.1em;
    background-color: #FC7148;
    color: #fff;
    border: none;
    border-radius: 3px;
    width: 200px;
    padding: 1.2em 0;
    margin: 4em auto;
    display: block;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent; }
    .login-form-container button:hover {
      border-bottom-color: #c12e03; }

@keyframes shake {
  0% {
    margin-left: 0; }

  12% {
    margin-left: 0; }

  25% {
    margin-left: -10px; }

  50% {
    margin-left: 10px; }

  75% {
    margin-left: -10px; }

  87% {
    margin-left: 0; }

  100% {
    margin-left: 0; } }
