.navbar.navbar-default {
  .navbar-brand {
    font-family: Changa One;
    font-size: 4rem;
    font-weight: lighter;
    color: rgb(177,17,17);
    position: relative;
    top: -3px;
  }
  .nav-login-block {
    margin-top: 5px;
    position: relative;
    .btn-add-user {
      position: absolute;
      left: -115px;
      top: -30px;
      font-size: 7rem;
      width: 30px;
      height: 30px;
      color: #b11111;
      &:hover {
        color: #b11111;
        text-decoration: none;
      }
    }
    .btn-login {
      padding: 7px 10px;
      margin-left: 10px;
      border-radius: 5px;
      background: rgb(255, 208, 60);
      color: #fff;
      border: 2px solid rgb(241, 226, 44);
      &:hover {
        text-decoration: none;
      }
    }
    .icon-exit {
      font-size: 2.5rem;
      margin-top: 8px;
      margin-left: 5px;
      color: #444;
      &:hover {
        text-decoration: none;
      }
    }
    .alerts {
      font-family: Changa One;
      position: absolute;
      left: -40px;
      font-size: 1.6rem;
      background: rgb(177,17,17);
      border-radius: 50%;
      width: 24px;
      height: 22px;
      top: 5px;
      text-align: center;
      color: white;
    }
    .user-pic {
      border: 5px solid #F8F8F8;
      border-radius: 100%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      width: 70px;
      height: 70px;
      position: absolute;
      left: -80px;
      top: 10px;
    }
  }
}

#user-profile {
  .username {
    font-size: 2rem;
    color: #ccc;
  }
  div.email {
    font-size: 2rem;
    color: #ccc;
    }
  .name {
    font-size: 3rem;
    font-family: "Helvetica", "Arial", "sans-serif";
    color: #444;
    padding: 5px 0;
  }

  .location {
    padding: 5px 0;
    color: #444;
  }
}

.user-act {
  .act-header {
    background: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
    border-top: 5px solid #b11111;
    padding: 3px 0;
  }
}

.alert-success {
  background-color: #BBF1A5;
  border-color: #d6e9c6;
  color: #3c763d;
}

html body {
  // background-color: #ACAFB8;
  font-family: "Raleway", "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  // background-image: url("/imgs/bg.png");
}

*, *:before, *:after {
  box-sizing: border-box;
}
.denied{
  animation: shake 0.35s normal forwards ease-in-out;
}

@keyframes shake {
  0% { margin-left: 0 }
  12% { margin-left: 0 }
  25% { margin-left: -10px }
  50% { margin-left: 10px }
  75% { margin-left: -10px }
  87% { margin-left: 0 }
  100% { margin-left: 0 }
}


/////////////////////////////////////////////

.container-profile {
  width: 263px;
}

a {
  display: inline-block;
  transition: all ease 0.3s;
}

$coverImageHeight: 263px;

.profile-box {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  position: relative;
  
  .profile-picture {
    position: absolute;
    top: $coverImageHeight - 60px;
    left: 50%;
    margin-left: -55px;
    
    img {
      border: 5px solid #fff;
      border-radius: 100%;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
      width: 100px;
      height: 100px;
    }
  }
}