/*
Syntax error: Invalid CSS after "...ily=Changa+One)": expected media query list, was ";"
        on line 1 of public/stylesheets/css/style.css

1: @import url(http://fonts.googleapis.com/css?family=Changa+One);
2: .navbar.navbar-default .navbar-brand {
3:   font-family: Changa One;
4:   font-size: 4rem;
5:   font-weight: lighter;
6:   color: #b11111;

Backtrace:
public/stylesheets/css/style.css:1
/home/valmitchell/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.3.9/lib/sass/scss/parser.rb:1312:in `expected'
/home/valmitchell/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.3.9/lib/sass/scss/parser.rb:1248:in `expected'
/home/valmitchell/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.3.9/lib/sass/scss/parser.rb:65:in `parse_media_query_list'
/home/valmitchell/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.3.9/lib/sass/engine.rb:1019:in `parse_import_arg'
/home/valmitchell/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.3.9/lib/sass/engine.rb:986:in `block in parse_import_directive'
/home/valmitchell/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.3.9/lib/sass/engine.rb:985:in `loop'
/home/valmitchell/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.3.9/lib/sass/engine.rb:985:in `parse_import_directive'
/home/valmitchell/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.3.9/lib/sass/engine.rb:806:in `parse_directive'
/home/valmitchell/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.3.9/lib/sass/engine.rb:653:in `parse_line'
/home/valmitchell/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.3.9/lib/sass/engine.rb:543:in `build_tree'
/home/valmitchell/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.3.9/lib/sass/engine.rb:562:in `block in append_children'
/home/valmitchell/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.3.9/lib/sass/engine.rb:561:in `each'
/home/valmitchell/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.3.9/lib/sass/engine.rb:561:in `append_children'
/home/valmitchell/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.3.9/lib/sass/engine.rb:412:in `_to_tree'
/home/valmitchell/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.3.9/lib/sass/engine.rb:274:in `render'
/home/valmitchell/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.3.9/lib/sass/plugin/compiler.rb:378:in `update_stylesheet'
/home/valmitchell/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.3.9/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/home/valmitchell/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.3.9/lib/sass/plugin/compiler.rb:186:in `each'
/home/valmitchell/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.3.9/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/home/valmitchell/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.3.9/lib/sass/plugin/compiler.rb:221:in `watch'
/home/valmitchell/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.3.9/lib/sass/plugin.rb:108:in `method_missing'
/home/valmitchell/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.3.9/lib/sass/exec.rb:509:in `watch_or_update'
/home/valmitchell/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.3.9/lib/sass/exec.rb:346:in `process_result'
/home/valmitchell/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.3.9/lib/sass/exec.rb:43:in `parse'
/home/valmitchell/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.3.9/lib/sass/exec.rb:22:in `parse!'
/home/valmitchell/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.3.9/bin/sass:13:in `<top (required)>'
/home/valmitchell/.rvm/gems/ruby-2.0.0-p481/bin/sass:23:in `load'
/home/valmitchell/.rvm/gems/ruby-2.0.0-p481/bin/sass:23:in `<main>'
/home/valmitchell/.rvm/gems/ruby-2.0.0-p481/bin/ruby_executable_hooks:15:in `eval'
/home/valmitchell/.rvm/gems/ruby-2.0.0-p481/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...ily=Changa+One)\": expected media query list, was \";\"\A         on line 1 of public/stylesheets/css/style.css\A \A 1: @import url(http://fonts.googleapis.com/css?family=Changa+One);\A 2: .navbar.navbar-default .navbar-brand {\A 3:   font-family: Changa One;\A 4:   font-size: 4rem;\A 5:   font-weight: lighter;\A 6:   color: #b11111;"; }
